<%-include('../includes/header.ejs')%>
<section class=" pt-100 pb-100">
    <div class="container">
        <div class="text-center">
            <h2 class=" size-c60 mb-60 error404"> Error 404</h2>
        </div>
    </div>
</section>
<%-include('../includes/moreJS.ejs')%>
<%-include('../includes/footer.ejs')%>
